<div class="mirador">
  <%= mirador_tag(
      id: "viewer",
      height: '600px',
      width: 'auto',
      options: {
        layout: "1x1",
        data: [

        ],
        windowObjects: [

        ]
      }
    )
   %>
</div>
